<%= form_for team do |f| %>

  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(team.errors.count, "error") %>
        prohibited this team from being saved:
      </h2>

      <ul>
      <% team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field<%= ' field_with_errors' if team.errors[:name].any? %>">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%=f.fields_for :coach do |coach| %>

    <%= coach.label :name %>
    <%= coach.text_field :name %>

    <%= coach.label :email %>
    <%= coach.text_field :email %>

    <%= coach.label :password %>
    <%= coach.password :password %>

    <%= player.label :password_confirmation %>
    <%= player.password :password_confirmation %>

  <% end %>

  <%= f.fields_for :players do |player| %>

   <%= player.label :name %>
   <%= player.text_field :name %>

   <%= player.label :email %>
   <%= player.text_field :email %>

   <%= player.label :password %>
   <%= player.password :password %>

   <%= player.label :password_confirmation %>
   <%= player.password :password_confirmation %>

  <% end %>

  <%= f.submit %>
<% end %>
