<%= form_for team do |f| %>

    <%= f.label "Team Name" %>
    <%= f.text_field :name %><br></br>

  <h4>Coach and Player Info:</h4>
  <%=f.fields_for :users do |user| %>

      <%= user.label :name %>
      <%= user.text_field :name %><br>

      <%= user.label :email %>
      <%= user.text_field :email %><br>

      <%= user.label :role %>
      <%= user.select(:role, [['Player', 'player'], ['Coach', 'coach']]) %><br>

      <%= user.label :password %>
      <%= user.password_field :password %><br></br>

  <% end %>

  <%= f.submit %>
<% end %>
