<h1>Edit Team Form</h1>

<%= form_for @team do |f| %>

    <%= f.label "Team Name" %>
    <%= f.text_field :name %><br></br>

    <%= f.label "Team Wins" %>
    <%= f.text_field :wins %><br></br>

  <%= f.submit %>
<% end %>
