<h1>U10 Team Index</h1>

<%= form_tag("/teams", method: "get") do %>
  <%= select_tag "team standings", options_for_select(["standings", "top five teams"]), include_blank: true %>
  <%= submit_tag "Filter" %>
<% end %><br></br>

<% if current_user.coach? %>
  <%= link_to "Add your team", new_team_path %>
<% end %>

<% @teams.each do |team| %>
  <%= render partial: "team", locals: {team: team} %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-more").on('click', function() {
      var id = $(this).data("id");
      $.get("/teams/" + id + "/players", function(data) {
        //format data
        var players = "<p><strong>Players:</strong></p>"
        $.each(data, function(index, player) {
          players += "<p>" + player.name + "</p>";
        })
        // Replace text of div
        $("#team-" + id + "-players").html(players);
      });
    });
  });
</script>
