<h1><%= @team.name%>'s Schedule</h1>

<% if current_user.coach? %>
  <%= link_to "New Practice", new_team_practice_path(@team.id) %>
  <%= link_to "New Game", new_team_game_path(@team.id) %>
<% end %>

<h4>Practices:</h4>
<table>
  <tr>
    <th><strong>Date</strong></th>
    <th><strong>Time</strong></th>
    <th><strong>Location</strong></th>
  </tr>

    <%= render partial: 'practices/practice', collection: @team.practices, as: :practice %>

</table>

<h4>Games:</h4>
<% @team.games.each do |game| %>
  <%= game.datetime %>
  <%= game.location %>
<% end %>

<table>
  <tr>
    <th><strong>Date</strong></th>
    <th><strong>Time</strong></th>
    <th><strong>Location</strong></th>
  </tr>

    <%= render partial: 'games/game', collection: @team.games, as: :game %>

</table>
