<h1>Game <%= @game.id %></h1>

<h4>Teams: <%= @game.versus %></h4>
<h4>Location: <%= @game.location %></h4>
<h4>Date and Time: <%= @game.format_date %> at <%= @game.format_time %></h4>

<h4>Comments:</h4>

<%= link_to "Add a new comment", new_comment_path %>

<!-- iterate through comments here, make a partial for comments
add a link to add a new comment -->
