<!-- make 'next' button for games -->
<h1 id="gameId">Game <%= @game.id %></h1>

<a href="#" class="js-next" data-team="<%= current_user.team.id %>" data-id="<%= @game.id %>">Next Game</a>

<h4 id="versus">Teams: <%= @game.versus %></h4>
<h4 id="location">Location: <%= @game.location %></h4>
<h4 id="dateTime">Date and Time: <%= @game.format_date %> at <%= @game.format_time %></h4><br></br>

<h4 id="comments">Comments:</h4>

<%= render partial: 'comments/form', locals: { comment: @game.comments.build } %>

<%= render partial: 'comments/comment', collection: @game.comments, as: :comment %>
