<h1>Game <%= @game.id %></h1>

<h4>Teams: <%= @game.versus %></h4>
<h4>Location: <%= @game.location %></h4>
<h4>Date and Time: <%= @game.format_date %> at <%= @game.format_time %></h4>

<h4>Comments:</h4>

<%= render partial: 'comments/form', locals: { comment: @game.comments.build } %>

<%= render partial: 'comments/comment', collection: @game.comments, as: :comment %>
