<h1 id="gameId">Game <%= @game.id %></h1>

<a href="#" class="js-next" data-team="<%= current_user.team.id %>" data-id="<%= @game.id %>">Next Game</a>

<h4 id="versus">Teams: <%= @game.versus %></h4>
<h4 id="location">Location: <%= @game.location %></h4>
<h4 id="dateTime">Date and Time: <%= @game.format_date %> at <%= @game.format_time %></h4><br></br>

<%= render partial: 'comments/form', locals: { comment: @game.comments.build } %>
<div id="comments">
  <h4>Comments:</h4>
  <%= render partial: 'comments/comment', collection: @game.comments, as: :comment %>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-next").on("click", function(event) {
      event.preventDefault();

      var nextId = parseInt($(".js-next").attr("data-id")) + 1;
      var team = parseInt($(".js-next").attr("data-team"));
      $.get("/teams/" + team + "/games/" + nextId + ".json", function(data) {
        //replace text within html tags
        $("#gameId").text("Game " + data["id"]);

        var versusText = "Teams: " + data["teams"][0]["name"] + " vs. " + data["teams"][1]["name"];
        $("#versus").text(versusText);

        $("#location").text("Location: " + data["location"]);

        var dateText = getDateText(data);
        $("#dateTime").text(dateText);

        var comments = "<h4>Comments:</h4>";
        $.each(data["comments"], function(index, comment) {
          comments += "<p>" + comment.content + "</p>";
        })
        $("#comments").html(comments)

        // re-set the id to current on the link
        $(".js-next").attr("data-id", data["id"]);
      });
    });
  });

  function getDateText(data) {
    var date = new Date(data["date"]);
    var day = date.getDate();
    var monthNum = date.getMonth();
    var months = [
      "January",
      "February",
      "March",
      "April",
      "May",
      "June",
      "July",
      "August",
      "September",
      "October",
      "November",
      "December"
    ];
    var month = months[monthNum];
    var time = new Date(data["time"]);
    var dateText = "Date and Time: " + month + " " + day + " at " + time.toLocaleTimeString();

    return dateText
  }
</script>
<script type="text/javascript" charset="utf-8">
  $(function() {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();

      var content = $(this).serialize();

      var posting = $.post('/comments', content);

      posting.done(function(data) {
        var comment = data;
        $("#comments").append(comment["content"]);
      });
    });
  });
</script>
