<%= form_for practice, url: "/teams/#{current_user.team_id}/practices" do |f| %>

  <% if practice.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(practice.errors.count, "error") %>
        prohibited this practice from being saved:
      </h2>

      <ul>
      <% practice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field<%= ' field_with_errors' if practice.errors[:date].any? %>">
    <%= f.label "Date" %>
    <%= f.date_select :date %><br></br>
  </div>

  <div class="field<%= ' field_with_errors' if practice.errors[:time].any? %>">
    <%= f.label "Time" %>
    <%= f.time_select :time %><br></br>
  </div>

  <div class="field<%= ' field_with_errors' if practice.errors[:location].any? %>">
    <%= f.label :location %>
    <%= f.text_field :location %><br></br>
  </div>

  <%= f.submit %>

<% end %>
