<% if user_signed_in? && current_user.team %>
  <div class="pull-left">
    <%= link_to "U10 Teams", teams_path %>
    <%= link_to "Your Profile", team_user_path(current_user.team, current_user) %>
    <%= link_to "Your Team", team_path(current_user.team_id) %>
  </div>
  <div class="pull-right">
    <%= link_to "Sign out", destroy_user_session_path, method: 'delete' %>
  </div>
<% elsif !user_signed_in? %>
  <div class="pull-right">
    <%= link_to "Sign in", new_user_session_path %>
    <%= link_to "Sign up", new_user_registration_path %>
  </div>
<% else %>
  <div class="pull-left">
    <%= link_to "U10 Teams", teams_path %>
    <%= link_to "Edit Profile", edit_user_registration_path %>
  </div>
  <div class="pull-right">
    <%= link_to "Sign out", destroy_user_session_path, method: 'delete' %>
  </div>
<% end %>
